/*
------------------------------------------------
Estilos generales
--------------------------------------------------
*/

body{
    margin: 0;
    padding: 0;
}

p.description {
    color: white;
}


.list-inline-item {
    color: white;
}


table
{
    width: 25%;
    background-color: #6c757d;
    border: 2px groove black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 22em;
}
td {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#btn-Dash
{
    width: 300px;
}